<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.Logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %msg %d{HH:mm:ss:SSS} %logger{36} %n</pattern>
		</encoder>
	</appender>
	
	
	<logger name="com.mabhi" level="DEBUG" additivity="false"> 
		<appender-ref ref="console-appender"/>
	</logger>
	<root level="INFO">
		<appender-ref ref="console-appender"/>
	</root>

</configuration>